# SPDX-FileCopyrightText: 2024-2025 Caleb Depatie
#
# SPDX-License-Identifier: 0BSD

name: Testing Suite

on: [ push ]

jobs:
  unit_test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v18
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Setup Meson
        run: nix develop --command make setup
      - name: Build Programs 
        run: nix develop --command make build
      - name: Run Tests
        run: nix develop --command make local-test
      - name: Publish Results
        uses: mikepenz/action-junit-report@v4
        if: success() || failure()
        with:
          report_paths: '**build/meson-logs/*.junit.xml'
          include_passed: true
          detailed_summary: true